In [70]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Data Exploration and preprocessing

1.	Load the dataset and conduct basic data exploration (summary statistics, missing values, data types).
2.	Handle missing values as per the best practices (imputation, removal, etc.).

In [6]:
df=pd.read_csv('adult_with_headers.csv')

In [7]:
df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [8]:
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [9]:
df.shape

(32561, 15)

In [11]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
age,32561.0,38.581647,13.640433,17.0,28.0,37.0,48.0,90.0
fnlwgt,32561.0,189778.366512,105549.977697,12285.0,117827.0,178356.0,237051.0,1484705.0
education_num,32561.0,10.080679,2.572720,1.0,9.0,10.0,12.0,16.0
capital_gain,32561.0,1077.648844,7385.292085,0.0,0.0,0.0,0.0,99999.0
capital_loss,32561.0,87.303830,402.960219,0.0,0.0,0.0,0.0,4356.0
hours_per_week,32561.0,40.437456,12.347429,1.0,40.0,40.0,45.0,99.0

In [12]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [13]:
# there is no missing values in dataset

In [14]:
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education_num      int64
marital_status    object
occupation        object
relationship      object
race              object
sex               object
capital_gain       int64
capital_loss       int64
hours_per_week     int64
native_country    object
income            object
dtype: object

3. â€¢	Apply scaling techniques to numerical features:

In [16]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [36]:
# Identify numerical features
numerical_features = df.select_dtypes(include=['int64', 'float64']).columns
numerical_features

Index(['age', 'fnlwgt', 'education_num', 'capital_gain', 'capital_loss',
       'hours_per_week'],
      dtype='object')

In [37]:
std_sca= StandardScaler()

In [46]:
df_std_sca_scaled = df.copy()

In [47]:
df_std_sca_scaled[numerical_features]=std_sca.fit_transform(df[numerical_features])

In [54]:
df_std_sca_scaled[numerical_features]

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
0,0.030671,-1.063611,1.134739,0.148453,-0.21666,-0.035429
1,0.837109,-1.008707,1.134739,-0.145920,-0.21666,-2.222153
2,-0.042642,0.245079,-0.420060,-0.145920,-0.21666,-0.035429
3,1.057047,0.425801,-1.197459,-0.145920,-0.21666,-0.035429
4,-0.775768,1.408176,1.134739,-0.145920,-0.21666,-0.035429
...,...,...,...,...,...,...
32556,-0.849080,0.639741,0.746039,-0.145920,-0.21666,-0.197409
32557,0.103983,-0.335433,-0.420060,-0.145920,-0.21666,-0.035429
32558,1.423610,-0.358777,-0.420060,-0.145920,-0.21666,-0.035429
32559,-1.215643,0.110960,-0.420060,-0.145920,-0.21666,-1.655225
32560,0.983734,0.929893,-0.420060,1.888424,-0.21666,-0.035429

Standard_scaler = StandardScaler(): Creates an instance of the StandardScaler class.
df.copy(): Creates a copy of the original DataFrame df to avoid modifying it directly. This copy is stored in df_standard_scaled.
standard_scaler.fit_transform(df[numerical_features]):
fit_transform method is used to compute the mean and standard deviation (for standard scaling) and then transform the data based on these statistics.
It scales the numerical features so that they have a mean of 0 and a standard deviation of 1.
df_standard_scaled[numerical_features]: The scaled data replaces the original numerical data in the df_standard_scaled DataFrame.

In [56]:
min_sca= MinMaxScaler()

In [57]:
df_min_max_scaled = df.copy()

In [58]:
df_min_max_scaled[numerical_features]=min_sca.fit_transform(df[numerical_features])

In [59]:
df_min_max_scaled[numerical_features]

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
0,0.301370,0.044302,0.800000,0.021740,0.0,0.397959
1,0.452055,0.048238,0.800000,0.000000,0.0,0.122449
2,0.287671,0.138113,0.533333,0.000000,0.0,0.397959
3,0.493151,0.151068,0.400000,0.000000,0.0,0.397959
4,0.150685,0.221488,0.800000,0.000000,0.0,0.397959
...,...,...,...,...,...,...
32556,0.136986,0.166404,0.733333,0.000000,0.0,0.377551
32557,0.315068,0.096500,0.533333,0.000000,0.0,0.397959
32558,0.561644,0.094827,0.533333,0.000000,0.0,0.397959
32559,0.068493,0.128499,0.533333,0.000000,0.0,0.193878
32560,0.479452,0.187203,0.533333,0.150242,0.0,0.397959

Standard Scaling: Preferred when the data follows a normal distribution (or close to it). It centers the data to zero mean and unit variance, which is beneficial for algorithms like Support Vector Machines (SVM) and Principal Component Analysis (PCA).

Min-Max Scaling: Preferred when the data does not follow a normal distribution or when we need to preserve the original distribution of the data. It scales the data to a fixed range, typically [0, 1], which is useful for algorithms that do not assume any distribution, such as neural networks.

# 2. Encoding Technique

1.â€¢	Apply One-Hot Encoding to categorical variables with less than 5 categories.

In [61]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [62]:
# Identify categorical features
categorical_features = df.select_dtypes(include=['object']).columns

In [63]:
categorical_features

Index(['workclass', 'education', 'marital_status', 'occupation',
       'relationship', 'race', 'sex', 'native_country', 'income'],
      dtype='object')

In [64]:
# Apply One-Hot Encoding to categorical variables with less than 5 categories
one_hot_encoder = OneHotEncoder(sparse=False, drop='first')
df_one_hot_encoded = df.copy()

for col in categorical_features:
    if df[col].nunique() < 5:
        one_hot_encoded_data = one_hot_encoder.fit_transform(df[[col]])
        one_hot_encoded_df = pd.DataFrame(one_hot_encoded_data, columns=[f"{col}_{i}" for i in range(one_hot_encoded_data.shape[1])])
        df_one_hot_encoded = pd.concat([df_one_hot_encoded, one_hot_encoded_df], axis=1).drop(columns=[col])

C:\Users\Admin\.conda\envs\streamlit\lib\site-packages\sklearn\preprocessing\_encoders.py:808: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\Users\Admin\.conda\envs\streamlit\lib\site-packages\sklearn\preprocessing\_encoders.py:808: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [65]:

# Apply Label Encoding to categorical variables with more than 5 categories
label_encoder = LabelEncoder()
df_label_encoded = df_one_hot_encoded.copy()

for col in categorical_features:
    if df[col].nunique() >= 5:
        df_label_encoded[col] = label_encoder.fit_transform(df[col])

df_label_encoded.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,capital_gain,capital_loss,hours_per_week,native_country,sex_0,income_0
0,0.030671,7,-1.063611,9,1.134739,4,1,1,4,0.148453,-0.21666,-0.035429,39,1.0,0.0
1,0.837109,6,-1.008707,9,1.134739,2,4,0,4,-0.145920,-0.21666,-2.222153,39,1.0,0.0
2,-0.042642,4,0.245079,11,-0.420060,0,6,1,4,-0.145920,-0.21666,-0.035429,39,1.0,0.0
3,1.057047,4,0.425801,1,-1.197459,2,6,0,2,-0.145920,-0.21666,-0.035429,39,1.0,0.0
4,-0.775768,4,1.408176,9,1.134739,2,10,5,2,-0.145920,-0.21666,-0.035429,5,0.0,0.0


One-Hot Encoding:

Pros: Avoids the ordinal nature of label encoding; each category is represented independently.
Cons: Increases dimensionality, which can be problematic for datasets with many unique categories.

    
Label Encoding:

Pros: Does not increase dimensionality; simple and straightforward to implement.
Cons: Imposes an ordinal relationship between categories, which may not be appropriate for all categorical features.

# 3 feature engineering|

â€¢	Create at least 2 new features that could be beneficial for the model. Explain the rationale behind your choices.

In [66]:
# Creating new features
df_label_encoded['age_bin'] = pd.cut(df_label_encoded['age'], bins=[0, 25, 45, 65, 100], labels=['young', 'middle_aged', 'senior', 'elderly'])
df_label_encoded['hours_per_week_bin'] = pd.cut(df_label_encoded['hours_per_week'], bins=[0, 20, 40, 60, 80], labels=['part_time', 'full_time', 'overtime', 'extreme'])

# Encoding new features
df_label_encoded['age_bin'] = label_encoder.fit_transform(df_label_encoded['age_bin'])
df_label_encoded['hours_per_week_bin'] = label_encoder.fit_transform(df_label_encoded['hours_per_week_bin'])

df_label_encoded.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,capital_gain,capital_loss,hours_per_week,native_country,sex_0,income_0,age_bin,hours_per_week_bin
0,0.030671,7,-1.063611,9,1.134739,4,1,1,4,0.148453,-0.21666,-0.035429,39,1.0,0.0,0,1
1,0.837109,6,-1.008707,9,1.134739,2,4,0,4,-0.145920,-0.21666,-2.222153,39,1.0,0.0,0,1
2,-0.042642,4,0.245079,11,-0.420060,0,6,1,4,-0.145920,-0.21666,-0.035429,39,1.0,0.0,1,1
3,1.057047,4,0.425801,1,-1.197459,2,6,0,2,-0.145920,-0.21666,-0.035429,39,1.0,0.0,0,1
4,-0.775768,4,1.408176,9,1.134739,2,10,5,2,-0.145920,-0.21666,-0.035429,5,0.0,0.0,1,1

Apply a transformation (e.g., log transformation) to at least one skewed numerical feature and justify your choice.

In [71]:

# Check skewness of numerical features
skewness = df[numerical_features].skew()

# Apply log transformation to a skewed feature
skewed_feature = 'capital_gain'
df_label_encoded[skewed_feature + '_log'] = np.log1p(df_label_encoded[skewed_feature])

# Verify transformation
df_label_encoded[[skewed_feature, skewed_feature + '_log']].head()

   capital_gain  capital_gain_log
0      0.148453          0.138416
1     -0.145920         -0.157731
2     -0.145920         -0.157731
3     -0.145920         -0.157731
4     -0.145920         -0.157731

# 4. Feature Selection

Use the Isolation Forest algorithm to identify and remove outliers.

In [72]:
from sklearn.ensemble import IsolationForest

# Apply Isolation Forest
iso_forest = IsolationForest(contamination=0.05)
outliers = iso_forest.fit_predict(df_label_encoded[numerical_features])

# Remove outliers
df_no_outliers = df_label_encoded[outliers == 1]

df_no_outliers.shape

C:\Users\Admin\.conda\envs\streamlit\lib\site-packages\sklearn\base.py:409: UserWarning: X does not have valid feature names, but IsolationForest was fitted with feature names
  warnings.warn(

(30933, 18)

Apply the PPS (Predictive Power Score) to find and discuss the relationships between features. Compare its findings with the correlation matrix.

In [74]:
!pip install ppscore

Collecting ppscore

WARNING: Ignoring invalid distribution -rotobuf (c:\users\admin\appdata\roaming\python\python39\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\admin\appdata\roaming\python\python39\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\admin\appdata\roaming\python\python39\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\admin\.conda\envs\streamlit\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\admin\appdata\roaming\python\python39\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\admin\appdata\roaming\python\python39\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\admin\appdata\roaming\python\python39\site-packages)

  Downloading ppscore-1.3.0.tar.gz (17 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: pandas<2.0.0,>=1.0.0 in c:\users\admin\.conda\envs\streamlit\lib\site-packages (from ppscore) (1.5.2)
Requirement already satisfied: scikit-learn<2.0.0,>=0.20.2 in c:\users\admin\.conda\envs\streamlit\lib\site-packages (from ppscore) (1.2.0)
Requirement already satisfied: numpy>=1.20.3 in c:\users\admin\.conda\envs\streamlit\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (1.24.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\admin\.conda\envs\streamlit\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\appdata\roaming\python\python39\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2022.7)
Requirement already satisfied: scipy>=1.3.2 in c:\users\admin\.conda\envs\streamlit\lib\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.10.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\admin\.conda\envs\streamlit\lib\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (3.1.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\admin\.conda\envs\streamlit\lib\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.2.0)
Requirement already satisfied: six>=1.5 in c:\users\admin\.conda\envs\streamlit\lib\site-packages (from python-dateutil>=2.8.1->pandas<2.0.0,>=1.0.0->ppscore) (1.16.0)
Building wheels for collected packages: ppscore
  Building wheel for ppscore (setup.py): started
  Building wheel for ppscore (setup.py): finished with status 'done'
  Created wheel for ppscore: filename=ppscore-1.3.0-py2.py3-none-any.whl size=13167 sha256=3050a4c399cf1c49dff62cce7159cdeb06f16ac7f472ffa87c391ef985fa7258
  Stored in directory: c:\users\admin\appdata\local\pip\cache\wheels\8c\0a\dc\9be952e22d2a23c36d0894bb0b5be5825e83442245083a1777
Successfully built ppscore
Installing collected packages: ppscore
Successfully installed ppscore-1.3.0

In [75]:
import ppscore as pps

# Calculate PPS matrix
pps_matrix = pps.matrix(df_no_outliers)[['x', 'y', 'ppscore']].pivot(columns='x', index='y', values='ppscore')

# Calculate correlation matrix
correlation_matrix = df_no_outliers.corr()

pps_matrix, correlation_matrix

(x                        age   age_bin  capital_gain  capital_gain_log  \
 y
 age                 1.000000  0.442589      0.000000          0.000000
 age_bin             1.000000  1.000000      0.000000          0.000000
 capital_gain        0.000000  0.000000      1.000000          0.998913
 capital_gain_log    0.000000  0.000000      0.998970          1.000000
 capital_loss        0.000000  0.000000      0.000000          0.000000
 education           0.000000  0.000000      0.000000          0.000000
 education_num       0.000000  0.000000      0.000274          0.000274
 fnlwgt              0.000000  0.000000      0.000000          0.000000
 hours_per_week      0.000000  0.000000      0.000000          0.000000
 hours_per_week_bin  0.000000  0.000000      0.000000          0.000000
 income_0            0.000000  0.000000      0.000000          0.000000
 marital_status      0.151205  0.028740      0.000000          0.000000
 native_country      0.000000  0.000000      0.000000          0.000000
 occupation          0.000000  0.000000      0.000000          0.000000
 race                0.000000  0.000000      0.000000          0.000000
 relationship        0.004278  0.000000      0.000000          0.000000
 sex_0               0.000000  0.000000      0.000000          0.000000
 workclass           0.000000  0.000000      0.000000          0.000000

 x                   capital_loss  education  education_num    fnlwgt  \
 y
 age                          0.0   0.017188       0.017188  0.000000
 age_bin                      0.0   0.000000       0.000000  0.001836
 capital_gain                 0.0   0.000000       0.000000  0.000000
 capital_gain_log             0.0   0.000000       0.000000  0.000000
 capital_loss                 1.0   0.000000       0.000000  0.000000
 education                    0.0   1.000000       1.000000  0.000000
 education_num                0.0   1.000000       1.000000  0.000000
 fnlwgt                       0.0   0.000000       0.000000  1.000000
 hours_per_week               0.0   0.000000       0.000000  0.000000
 hours_per_week_bin           0.0   0.000000       0.000000  0.000000
 income_0                     0.0   0.000000       0.000000  0.000000
 marital_status               0.0   0.000000       0.000000  0.000000
 native_country               0.0   0.000000       0.000000  0.000000
 occupation                   0.0   0.021569       0.021569  0.000000
 race                         0.0   0.000000       0.000000  0.000000
 relationship                 0.0   0.000000       0.000000  0.000000
 sex_0                        0.0   0.000000       0.000000  0.000000
 workclass                    0.0   0.000000       0.000000  0.000000

 x                   hours_per_week  hours_per_week_bin  income_0  \
 y
 age                       0.000234            0.000000  0.028208
 age_bin                   0.000000            0.000000  0.000000
 capital_gain              0.000000            0.000000  0.000000
 capital_gain_log          0.000000            0.000000  0.000000
 capital_loss              0.000000            0.000000  0.000000
 education                 0.000000            0.000000  0.000000
 education_num             0.000000            0.000000  0.013691
 fnlwgt                    0.000000            0.000000  0.000000
 hours_per_week            1.000000            0.064976  0.000000
 hours_per_week_bin        1.000000            1.000000  0.000000
 income_0                  0.000000            0.000000  1.000000
 marital_status            0.000000            0.000000  0.000000
 native_country            0.000000            0.000000  0.000000
 occupation                0.002584            0.000015  0.000000
 race                      0.000000            0.000000  0.000000
 relationship              0.000000            0.000000  0.000000
 sex_0                     0.000000            0.000000  0.000000
 workclass                 0.000000            0.000000  0.000000

 x                   marital_status  native_country  occupation     race  \
 y
 age                       0.196758             0.0    0.005778  0.00000
 age_bin                   0.144283             0.0    0.000000  0.00000
 capital_gain              0.000000             0.0    0.000000  0.00000
 capital_gain_log          0.000000             0.0    0.000000  0.00000
 capital_loss              0.000000             0.0    0.000000  0.00000
 education                 0.000000             0.0    0.000000  0.00000
 education_num             0.000000             0.0    0.164256  0.00000
 fnlwgt                    0.000000             0.0    0.000000  0.00221
 hours_per_week            0.000000             0.0    0.000000  0.00000
 hours_per_week_bin        0.000000             0.0    0.000000  0.00000
 income_0                  0.000000             0.0    0.000000  0.00000
 marital_status            1.000000             0.0    0.000000  0.00000
 native_country            0.000000             1.0    0.000000  0.00000
 occupation                0.000000             0.0    1.000000  0.00000
 race                      0.000000             0.0    0.000000  1.00000
 relationship              0.110471             0.0    0.000000  0.00000
 sex_0                     0.000000             0.0    0.000000  0.00000
 workclass                 0.000000             0.0    0.206750  0.00000

 x                   relationship     sex_0  workclass
 y
 age                     0.140476  0.000000   0.016324
 age_bin                 0.064115  0.000000   0.000000
 capital_gain            0.000000  0.000000   0.000000
 capital_gain_log        0.000000  0.000000   0.000000
 capital_loss            0.000000  0.000000   0.000000
 education               0.000000  0.000000   0.000000
 education_num           0.000000  0.000000   0.000000
 fnlwgt                  0.000000  0.000000   0.000000
 hours_per_week          0.000000  0.000000   0.000000
 hours_per_week_bin      0.000000  0.000000   0.000000
 income_0                0.000000  0.000000   0.000000
 marital_status          0.286172  0.000000   0.000000
 native_country          0.000000  0.000000   0.000000
 occupation              0.000000  0.000000   0.116009
 race                    0.000000  0.000000   0.000000
 relationship            1.000000  0.129426   0.000000
 sex_0                   0.245622  1.000000   0.000000
 workclass               0.000000  0.000000   1.000000  ,
                          age  workclass    fnlwgt  education  education_num  \
 age                 1.000000   0.006528 -0.080425  -0.005656       0.032027
 workclass           0.006528   1.000000 -0.016627   0.018107       0.043247
 fnlwgt             -0.080425  -0.016627  1.000000  -0.019628      -0.038736
 education          -0.005656   0.018107 -0.019628   1.000000       0.347393
 education_num       0.032027   0.043247 -0.038736   0.347393       1.000000
 marital_status     -0.280424  -0.061087  0.027694  -0.032826      -0.055075
 occupation         -0.018805   0.248857 -0.000551  -0.026858       0.103689
 relationship       -0.261694  -0.091676  0.009102  -0.009303      -0.087149
 race                0.026624   0.049521 -0.024185   0.013256       0.027650
 capital_gain        0.082256   0.010173 -0.017801   0.011887       0.096971
 capital_loss        0.031188  -0.003007 -0.016108   0.028860       0.047038
 hours_per_week      0.087479   0.129364 -0.018655   0.048966       0.130064
 native_country      0.002660  -0.005256 -0.050443   0.062555       0.048779
 sex_0               0.084825   0.093737  0.025872  -0.030356       0.002570
 income_0            0.224041   0.036876 -0.013310   0.068915       0.302561
 age_bin            -0.826450  -0.015627  0.072554  -0.000522      -0.037710
 hours_per_week_bin -0.064519  -0.114753  0.036587  -0.044820      -0.161892
 capital_gain_log    0.086031   0.009146 -0.017410   0.013093       0.094388

                     marital_status  occupation  relationship      race  \
 age                      -0.280424   -0.018805     -0.261694  0.026624
 workclass                -0.061087    0.248857     -0.091676  0.049521
 fnlwgt                    0.027694   -0.000551      0.009102 -0.024185
 education                -0.032826   -0.026858     -0.009303  0.013256
 education_num            -0.055075    0.103689     -0.087149  0.027650
 marital_status            1.000000   -0.006952      0.184573 -0.066651
 occupation               -0.006952    1.000000     -0.074946  0.007144
 relationship              0.184573   -0.074946      1.000000 -0.117285
 race                     -0.066651    0.007144     -0.117285  1.000000
 capital_gain             -0.061623    0.014693     -0.073090  0.013752
 capital_loss             -0.039854    0.013911     -0.048074  0.015640
 hours_per_week           -0.192447    0.072973     -0.250363  0.043512
 native_country           -0.023580   -0.011647     -0.005417  0.135134
 sex_0                    -0.123744    0.080430     -0.578789  0.088038
 income_0                 -0.194776    0.070039     -0.246018  0.068994
 age_bin                   0.273392    0.005437      0.196349 -0.022022
 hours_per_week_bin        0.129399   -0.097811      0.215572 -0.097146
 capital_gain_log         -0.063856    0.014138     -0.075880  0.015943

                     capital_gain  capital_loss  hours_per_week  \
 age                     0.082256      0.031188        0.087479
 workclass               0.010173     -0.003007        0.129364
 fnlwgt                 -0.017801     -0.016108       -0.018655
 education               0.011887      0.028860        0.048966
 education_num           0.096971      0.047038        0.130064
 marital_status         -0.061623     -0.039854       -0.192447
 occupation              0.014693      0.013911        0.072973
 relationship           -0.073090     -0.048074       -0.250363
 race                    0.013752      0.015640        0.043512
 capital_gain            1.000000     -0.035748        0.057593
 capital_loss           -0.035748      1.000000        0.027259
 hours_per_week          0.057593      0.027259        1.000000
 native_country          0.016681      0.012325       -0.000377
 sex_0                   0.057277      0.036628        0.229122
 income_0                0.279158      0.108490        0.215770
 age_bin                -0.082039     -0.040995       -0.082282
 hours_per_week_bin     -0.058313     -0.020441       -0.670128
 capital_gain_log        0.987614     -0.038518        0.059448

                     native_country     sex_0  income_0   age_bin  \
 age                       0.002660  0.084825  0.224041 -0.826450
 workclass                -0.005256  0.093737  0.036876 -0.015627
 fnlwgt                   -0.050443  0.025872 -0.013310  0.072554
 education                 0.062555 -0.030356  0.068915 -0.000522
 education_num             0.048779  0.002570  0.302561 -0.037710
 marital_status           -0.023580 -0.123744 -0.194776  0.273392
 occupation               -0.011647  0.080430  0.070039  0.005437
 relationship             -0.005417 -0.578789 -0.246018  0.196349
 race                      0.135134  0.088038  0.068994 -0.022022
 capital_gain              0.016681  0.057277  0.279158 -0.082039
 capital_loss              0.012325  0.036628  0.108490 -0.040995
 hours_per_week           -0.000377  0.229122  0.215770 -0.082282
 native_country            1.000000 -0.007923  0.020031 -0.009324
 sex_0                    -0.007923  1.000000  0.209866 -0.062724
 income_0                  0.020031  0.209866  1.000000 -0.228801
 age_bin                  -0.009324 -0.062724 -0.228801  1.000000
 hours_per_week_bin       -0.021664 -0.198252 -0.220038  0.056805
 capital_gain_log          0.016326  0.059873  0.273277 -0.082948

                     hours_per_week_bin  capital_gain_log
 age                          -0.064519          0.086031
 workclass                    -0.114753          0.009146
 fnlwgt                        0.036587         -0.017410
 education                    -0.044820          0.013093
 education_num                -0.161892          0.094388
 marital_status                0.129399         -0.063856
 occupation                   -0.097811          0.014138
 relationship                  0.215572         -0.075880
 race                         -0.097146          0.015943
 capital_gain                 -0.058313          0.987614
 capital_loss                 -0.020441         -0.038518
 hours_per_week               -0.670128          0.059448
 native_country               -0.021664          0.016326
 sex_0                        -0.198252          0.059873
 income_0                     -0.220038          0.273277
 age_bin                       0.056805         -0.082948
 hours_per_week_bin            1.000000         -0.059888
 capital_gain_log             -0.059888          1.000000  )

The correlation matrix provides insights into linear relationships between features, while the PPS matrix assesses non-linear relationships and predictive power between features. Comparing the findings of both matrices can provide a more comprehensive understanding of feature relationships.